<table border="1">
  <tr>
    <th>№</th>
    <th>Карта плательщика</th>
    <th>Карта получателя</th>
    <th>Сумма</th>
    <th>Дата выполнения</th>
    <th>Действие</th>
  </tr>

  <tr *ngFor="let transfer of transfers; index as i">
    <th>{{ i + 1 }}</th>
    <th>{{ transfer.senderCardNumber | cardHider }}</th>
    <th>{{ transfer.receiverCardNumber | cardHider }}</th>
    <th>{{ transfer.moneyAmount | currency }}</th>
    <th>{{ transfer.transferDate | date }}</th>
    <th>
      <button>Повторить</button>
      <button (click)="onDeleteButtonClick(i)">Удалить</button>
    </th>
  </tr>
</table>
