<table border="1">
  <tr>
    <th>№</th>
    <th>Карта плательщика</th>
    <th>Карта получателя</th>
    <th>Сумма</th>
    <th>Дата выполнения</th>
    <th>Действие</th>
  </tr>

  <tr *ngFor="let transfer of transfers; index as i">
    <td>{{ i + 1 }}</td>
    <td>{{ transfer.senderCardNumber | cardHider }}</td>
    <td>{{ transfer.receiverCardNumber | cardHider }}</td>
    <td>{{ transfer.moneyAmount | currency: 'RUB':'':'1.0' }}</td>
    <td>{{ transfer.transferDate | date: 'dd.MM.yyyy' }}</td>
    <td>
      <button (click)="onRepeatButtonClick(i)">Повторить</button>
      <button (click)="onDeleteButtonClick(i)">Удалить</button>
    </td>
  </tr>
</table>
