<!-- TODO: refactor this shit with *ngFor -->
<input
  #input
  type="text"
  maxlength="4"
  (input)="onInput(0, $event.target.value)"
  (keydown.backspace)="onBackspace(0)"
  [value]="cardNumberSegments[0]"
/>
<input
  #input
  type="text"
  maxlength="4"
  (input)="onInput(1, $event.target.value)"
  (keydown.backspace)="onBackspace(1)"
  [value]="cardNumberSegments[1]"
/>
<input
  #input
  type="text"
  maxlength="4"
  (input)="onInput(2, $event.target.value)"
  (keydown.backspace)="onBackspace(2)"
  [value]="cardNumberSegments[2]"
/>
<input
  #input
  type="text"
  maxlength="4"
  (input)="onInput(3, $event.target.value)"
  (keydown.backspace)="onBackspace(3)"
  [value]="cardNumberSegments[3]"
/>
